.card {
  border-radius: 8px;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-footer a {
  font-weight: bold;
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}
