.img_volunteer {
    max-width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 50%;
}

.volunteer-info {
    padding: 20px;
    display: block;
    text-align: center;
    color: black;
}

.persional-info {
    display: block;
    text-align: start;
    font-weight: 300;
    
}

#ftco{
    color: rgba(255, 255, 255, 0.7);
}