.donation-card {
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.progress {
  margin-bottom: 10px; /* Tạo khoảng cách dưới thanh progress */
}

.max-participants {
  margin-bottom: 5px; /* Khoảng cách giữa số lượng tối đa và thanh progress */
}

.current-participants {
  margin-top: 5px; /* Khoảng cách giữa số lượng đã tham gia và progress */
}

.btn {
  margin-top: 15px; /* Khoảng cách giữa nút và các phần trên */
}
