.form-control-plaintext {
  border-bottom: 1px solid #dee2e6;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent !important;
}
.form-floating label {
  padding-left: 0;
}
.img-thumbnail {
  cursor: pointer;
  transition: transform 0.2s;
}
.img-thumbnail:hover {
  transform: scale(1.05);
}
#eventName {
  font-size: 1.2rem;
}
