   # Bỏ qua tất cả các tệp có phần mở rộng .log
   *.log

   # Bỏ qua thư mục build
   build/

   # Bỏ qua file cấu hình cá nhân
   appsettings.json
.vs/
appsettings.json
bin/
Depandencies/
obj/
obj/Debug/net9.0
obj/Release/net9.0
packages/
database/
program.cs
