
@{
    ViewData["Title"] = "Volunteers";
}
<div class="hero-wrap"
     style="background-image: url('@Url.Content("~/images/bg_7.jpg")')"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center"
                 data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs"
                   data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    <span class="mr-2"><a href="index.html">Home</a></span>
                    <span>Details Volunteer</span>
                </p>
                <h1 class="mb-3 bread"
                    data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    Detail Volunteer
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- main -->
<section class="single-volunteer section-padding">
    <div class="container" bis_skin_checked="1">
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-5 col-sm-5" bis_skin_checked="1">
                <figure class="volunteer-img">
                    <img src="images/person_6.jpg" alt="" />
                    <div class="d-flex mt-3 justify-content-between align-items-center"
                         bis_skin_checked="1">
                        <figcaption>
                            <h3 class="mb-0 article-title">Anila Rose</h3>
                            <span> anila@gmail.com</span>
                        </figcaption>
                        <div class="social-share ms-3" bis_skin_checked="1">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="col-lg-7 col-sm-7" bis_skin_checked="1">
                <div class="volunteer-info" bis_skin_checked="1">
                    <ul class="persional-info">
                        <li>
                            <strong class="head">Name</strong>
                            <span class="info">: Anila Rose</span>
                        </li>
                        <li>
                            <strong class="head">Date of Birth</strong>
                            <span class="info">: 8th February 1992</span>
                        </li>
                        <li>
                            <strong class="head">Address</strong>
                            <span class="info">: 23, Jonhson Street, New York USA</span>
                        </li>
                        <li>
                            <strong class="head">Email</strong><span class="info">
                                <a href="mailto:anila@gmail.com">: anila@gmail.com</a>
                            </span>
                        </li>
                        <li>
                            <strong class="head">Phone</strong><span class="info"><a href="tel:+22425485">: +2 24 254 85</a></span>
                        </li>
                    </ul>
                    <div class="personal-award d-flex justify-content-between"
                         bis_skin_checked="1">
                        <div class="single-award shadow-sm" bis_skin_checked="1">
                            <i class="fa fa-folder-open"></i>
                            <h3><span class="counter">8</span></h3>
                            <h3>Projects Participated</h3>
                        </div>
                        <div class="single-award shadow-sm" bis_skin_checked="1">
                            <i class="fa fa-hand-holding-usd"></i>
                            <h3><span class="counter">20</span> Million</h3>
                            <h3>Funds Raised</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

